/*********************************
        Jumbo
*********************************/

.jumbo {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url($url+'storage/images/site/jumbo.jpg') !important;
}