/*********************************
		Politics and Terms
*********************************/
.extras{
    p{
        color:$font-color;
        text-align: justify;
        text-indent: 1.5rem;
    }
    h2, h3{
        color: $custom-color-primary;
    }
    li{
        color:$font-color;
    }
}
