/*********************************
        jumbotron
*********************************/

.section-modalities {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url($url+'storage/images/site/crossfit-canoas-box.jpg') !important;
    // height: 100vh;
    padding-top: 5rem;
    box-sizing: border-box;
    display: flex;
    h1 {
        font-family: "Bebas";
        height: 80vh;
        box-sizing: border-box;
        justify-content: center;
        text-align: left;
        flex-direction: column;
        font-size: 7vw;
        line-height: 7vw;
        color: $white;
        text-transform: uppercase;
    }
    .card-modalities {
        .title {
            width: 100%;
            margin: 0;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            color: $custom-color-primary;
            background-color: $white;
            width: 100%;
            font-size: 1.5em;
            justify-content: center;
            font-family: "Bebas";
            text-align: center;
            text-transform: uppercase;
            &:hover {
                color: $white;
                background-color: $custom-color-primary;
            }
        }
        .image {
            overflow: hidden;
            img {
                transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
        }
        &:hover {
            .image img {
                //filter: blur(2px);
                transform: scale(1.23) rotate(7deg);
                transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
        }
    }
}

@media (max-width: 991px) {
    .section-modalities {
        background-size: inherit;
        background-repeat: no-repeat;
        background-position: top center;
        h1 {
            display: flex;
            align-items: left;
            font-size: 9vw;
            line-height: 9vw;
        }
        .card-modalities .title {
            font-size: 5em;
        }
    }
}