/*********************************
		Results
*********************************/

.section-results {
    background: #FFFFFF;
}

.results_row {
    margin-top: 5px;
}

.results_title_container {
    z-index: 1;
}

.results_title {
    font-size: 24px;
    font-weight: 700;
    color: #888888;
    text-transform: uppercase;
    line-height: 1.2;
}

.results_subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #b5b5b5;
    line-height: 1.2;
    margin-top: 4px;
}

.results_container {
    margin-top: -36px;
}

.result {
    width: 50%;
}

.team_image {
    height: 262px;
}

.team_image img {
    max-height: 100%;
}

.result:first-child .result_content {
    padding-right: 31px;
}

.result:last-child .result_content {
    padding-left: 31px;
}

.result_content {}

.result_content>div {
    width: 50%;
}

.result:first-child .result_content::after {
    display: block;
    position: absolute;
    bottom: 34px;
    right: 50%;
    width: 2px;
    height: 200px;
    background: #dddfe2;
    content: "";
}

.result:first-child .result_content>div:last-child,
.result:last-child .result_content>div:first-child {
    padding-bottom: 35px;
}

.result_num {
    font-size: 72px;
    font-weight: 700;
    line-height: 0.75;
    color: #050505;
}

.result_team {
    font-size: 36px;
    font-weight: 700;
    color: #888888;
    line-height: 0.75;
    margin-top: 29px;
}

.result_text {
    margin-top: 39px;
}

.result:first-child .result_text {
    padding-right: 15px;
}

.result:last-child .result_text {
    padding-left: 15px;
}

.results_button {
    margin-top: 32px;
}

@media only screen and (max-width: 991px) {
    .result:first-child .result_content {
        padding-right: 10px;
    }
    .result:last-child .result_content {
        padding-left: 10px;
    }
    .result_num {
        font-size: 50px;
    }
    .result_team {
        font-size: 18px;
    }
    .results_container {
        margin-top: 40px;
    }
    .result_text {
        margin-top: 32px;
    }
    .result_text p {
        font-size: 14px;
    }
    .result_team {
        margin-top: 22px;
    }
    .team_image {
        height: 152px;
    }
    .result:first-child .result_content::after {
        display: block;
        position: absolute;
        bottom: 34px;
        right: 50%;
        width: 2px;
        height: 100px;
        background: #dddfe2;
        content: "";
    }
}