/*********************************
        Scoreboard
*********************************/

.campo {
    font-size: 10rem;
    font-weight: 700;
    color: #fff;
}

.campo table tr td {
    padding-top: 0px;
}

.campo_title {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    -webkit-text-stroke-width: 1.5px;
    /* largura da borda */
    -webkit-text-stroke-color: #ddd;
    /* cor da borda */
}

.campo_jogador {
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    line-height: 1.2;
    padding-top: 0px;
}

.campo_jogador .fa-futbol {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.campo_posicao {
    font-size: 16px;
    font-weight: 500;
    color: #ddd;
    line-height: 1.2;
}

.placar_container {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
}

.status {
    font-size: 2rem;
    color: #fff;
    line-height: 0.75;
    -webkit-text-stroke-width: 0.5px;
    /* largura da borda */
    -webkit-text-stroke-color: #aaa;
    /* cor da borda */
    padding-top: 0px;
}

.placar {
    font-size: 10rem;
    font-weight: 700;
    color: #fff;
    line-height: 0.75;
    margin-top: 29px;
    -webkit-text-stroke-width: 3px;
    /* largura da borda */
    -webkit-text-stroke-color: #aaa;
    /* cor da borda */
}

.time {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    line-height: 0.75;
    margin-top: 10px;
    -webkit-text-stroke-width: 1px;
    /* largura da borda */
    -webkit-text-stroke-color: #fff;
    /* cor da borda */
}

.local {
    text-align: center;
    margin-top: 29px;
}

.local div p {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    line-height: 0.75;
    margin-top: 29px;
    -webkit-text-stroke-width: 1px;
    /* largura da borda */
    -webkit-text-stroke-color: #aaa;
    /* cor da borda */
}

@media only screen and (max-width: 991px) {
    .campo_jogador {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        padding-top: 0px;
    }
    .placar_container {
        position: absolute;
        top: 15%;
        left: 0;
        width: 100%;
    }
    .placar {
        font-size: 5rem;
        padding-top: 20px;
    }
    .local {
        font-size: 1rem;
    }
    .time {
        font-size: 1.5rem;
        font-weight: 700;
        color: #888888;
        line-height: 0.75;
        margin-top: 10px;
        -webkit-text-stroke-width: 0px;
        /* largura da borda */
        -webkit-text-stroke-color: #fff;
        /* cor da borda */
    }
    .status {
        padding-top: 30px;
        font-size: 1rem;
        -webkit-text-stroke-width: 0px;
        /* largura da borda */
    }
}